/* Inspired by Low-Tech Website */
/* Optimized for outdoor, high sun readability */
:root {
    --main-blanch-color: #ffebcd; /* ALMOND BLANCH */
    --main-melon-color: #d76945; /* MELON FLESH */
    --main-green-color: #899600; /* MELON RINDS */
    --main-soil-color: #5e3b22; /* ALMOND SKINS */
    --main-compost-color: #3f2d1c; /* RICH COMPOST */
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 10px;
    margin-bottom: auto;
}
main {
    text-align: left;
    color: var(--main-soil-color);
}
body {
    background-color: var(--main-blanch-color);
    text-align: left;
    color: var(--main-soil-color);
    box-sizing: border-box;
    max-width: 100%;
}

h1 {
    font-family:cursive;
    font-size-adjust: calc(.7);
    line-height: 0.9;
    text-align: center;
    font-weight: bolder;
    color: var(--main-melon-color);
    text-shadow: .4px .4px 3px whitesmoke, 0 0 50px var(--main-blanch-color), 2px 2px 13px var(--main-green-color), 0 0 4px var(--main-blanch-color), 6px 8px 14px var(--main-soil-color);
}
h2 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 0.9;
    font-weight: bolder;
    text-align: center;
    text-transform:capitalize;
    font-size-adjust:calc(.5);
    color: var(--main-green-color);
}
h3 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size-adjust: calc(0.6);
    color: var(--main-soil-color);
    font-weight: bolder;
}
p {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size-adjust: calc(0.6);
    color: var(--main-compost-color);
    font-weight: bold;   
}
li {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size-adjust: calc(0.55);
    line-height: 1.5;
    color: var(--main-compost-color);
    font-weight: normal;    
}
button {
    margin: auto;
    max-width: 85%;
    background-color: var(--main-green-color); /* MELON RIND */
    box-sizing: border-box;
    border: 5px ridge var(--main-melon-color);
    font-size: 22px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: var(--main-blanch-color);
    padding: 18px;
    border-radius: 14px;
    text-align: center;
    word-wrap: break-word;
    word-break: keep-all;
    text-shadow: 1px 1px 2px var(--main-compost-color), 0 0 5px var(--main-compost-color); 
}
.center {
    text-align: center;
}