:root {
    --main-blanch-color: #ffebcd; /*ALMOND BLANCH */
    --main-kraft-color:  #B79F7C; /* #b79f7c B79f7c*/
    --main-melon-color: #d6582e; /* MELON FLESH */
    --main-green-color: #575e08; /* #94a00e MELON RINDS */
    --main-soil-color: #5A3820; /* #5e3b22 ALMOND SKINS */
    --main-compost-color: #382819; /* #3f2d1c RICH COMPOST */
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {        
    height: 100%;
    background-color: var(--main-kraft-color);
}
body {
    max-width: 90%; /* to constrain width */
    margin: 0 auto; /* to center horizontally on page*/
    padding: 12px; /* l&r gutters */
    color: var(--main-soil-color);
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold;
}
h1 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: bold;
    color: var(--main-melon-color);
    text-shadow: 
    .4px .4px 3px whitesmoke, 
    0 0 50px whitesmoke, 
    2px 2px 13px var(--main-green-color), 
    0 0 4px var(--main-blanch-color), 
    6px 8px 14px var(--main-soil-color);
}
h2 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform:capitalize;
    color: var(--main-green-color);
}
h3 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--main-soil-color);
    font-weight: bold;
}
h4 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--main-compost-color);
    font-weight: bold;   
}
p {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--main-compost-color);
    font-size:larger;
    font-weight: bold;   
}
li {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--main-compost-color);
    font-weight: bold;
}